div[name = "input1"] {
  padding: 5px;
  padding-left: 50px;
}

div[name = "maincontent"] {
  padding-top: 100px;
  padding-left: 20px;
  align-content: center;
  align-items: center;
  align-self: center;
}



#mainhead {
  padding: 20px;
}

#resultcalc {
  padding: 10px;
}

input.form-control
{
  width:120px;
}

#catch {
  padding-top: 10px;
}

a:hover {
  text-decoration: none;
}
